<div class="myBody well col-md-10">
	<span class="anchor" id="home"></span>
	<h1><span>Accueil</span></h1>
	<h3>POURQUOI CE SITE???</h3>
	<p>j'ai créé ce blog pour vous proposer mes services en fabrication de vêtements et aussi d'accessoires en cuir.
		Vous ne trouvez pas le vêtement ou l'accessoire de vos rêves, ou bien même la taille... et bien ça va changer!
	</p>
	<strong>Je vous propose de vous le fabriquer!</strong>
	<p>Après avoir rempli un questionnaire sur vos choix</p>
	<ul>
		<li>de couleurs</li>
		<li>de formes</li>
		<li>sur votre taille</li>
	</ul>
	<p>je vous proposerai un devis et un dessin pour ,si cela vous va, tout bêtement vous le fabriquer!!!</p>

	<p>Vous pouvez aussi directement acheter ceux qui sont en photos sur mon site! (frais de port suivant l'article)</p>

	<h4>Bisous</h4>
	<h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
	<h5>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h5>
	<div class="box">
		<div id="lipsum">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis ultricies mollis. Donec faucibus urna interdum elementum ornare. Morbi non dolor efficitur eros ultricies condimentum. Integer vel lobortis tellus, ac tincidunt nisi. Donec id nisi enim. Nunc dictum, metus eu placerat commodo, felis sem tristique est, non pretium ante justo eget tellus. Morbi maximus in lorem eget scelerisque. Maecenas tincidunt, libero vel vestibulum euismod, quam dolor consequat sapien, at porta metus enim sit amet odio. Suspendisse et lobortis nulla. In porttitor consequat quam ac ultricies. Donec massa justo, posuere sit amet porttitor ac, semper sit amet mi. Vestibulum iaculis, lacus sit amet bibendum semper, neque sapien consectetur nulla, ut pulvinar erat nibh sed felis. Fusce ut ligula nec velit porta iaculis. Cras et tincidunt enim.
			</p>
			<p>
				Mauris vitae elit eu libero pulvinar scelerisque. Vivamus pharetra porttitor nisi, sit amet laoreet ligula porta ut. Aenean leo ante, consectetur fringilla pretium nec, vehicula dictum dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer tristique lacus vitae quam eleifend viverra. Nullam semper non arcu vel malesuada. In cursus tellus quis fermentum finibus. Mauris fringilla, dolor eget tristique posuere, neque lacus tristique massa, vitae rutrum nisl lorem quis est. Praesent aliquet velit eget mi pharetra pellentesque. Praesent eleifend dui nec mi pulvinar, vel lacinia dolor accumsan. Aliquam ullamcorper ipsum vel mauris feugiat, vitae dictum erat hendrerit. Cras eu sollicitudin enim. Fusce efficitur aliquam ornare. Pellentesque imperdiet imperdiet velit ut auctor. Nulla finibus non enim ut posuere.
			</p>
			<p>
				In facilisis dui et lacus ullamcorper, non consectetur massa sagittis. Fusce ullamcorper dolor eget mi finibus ullamcorper sed id lorem. Vivamus est massa, tincidunt quis augue quis, lacinia aliquam dui. Mauris ac scelerisque massa. Praesent id finibus sem. Sed fringilla purus sed imperdiet lobortis. Phasellus at velit quam. Cras nec dui id nibh maximus ullamcorper sed et nisl. Mauris tincidunt ullamcorper interdum.
			</p>
			<p>
				Integer vestibulum purus vel lacus mattis vestibulum. Duis tristique nulla et nisi aliquet, sit amet scelerisque arcu hendrerit. Nulla gravida eget est vel sollicitudin. Nunc blandit lacinia scelerisque. Sed vel malesuada dui. Ut sed interdum justo. Integer lobortis mi diam, sed luctus lectus egestas a. Donec urna neque, efficitur vel magna eget, fringilla congue arcu. Vestibulum quis scelerisque elit, pharetra pretium sem. Vestibulum facilisis ullamcorper enim volutpat sagittis. Sed condimentum rhoncus arcu non pretium. Praesent tristique placerat mauris vitae cursus. Praesent in mi eget nisi luctus volutpat in a diam. Nulla nec purus iaculis, iaculis sapien id, lobortis risus. Praesent ut velit elit.
			</p>
			<p>
				Phasellus convallis efficitur turpis, ac pellentesque turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam in nulla sem. Morbi id odio vel est sagittis commodo non eget urna. Nullam lacinia tincidunt cursus. Maecenas fringilla purus diam, et dapibus nunc viverra eget. Sed vel felis quis arcu ultrices venenatis. Cras nec pretium dolor. Etiam id tellus consequat, efficitur enim in, finibus ex. Fusce ut arcu ut est fermentum imperdiet in eu diam. Maecenas quis venenatis nibh. Suspendisse quis nunc ut mi luctus tempus. Aliquam tincidunt ornare nunc ac elementum.
			</p>
		</div>
	</div>

	<span class="anchor"  id="findme"></span>
	<h1><span>Ou me trouver</span></h1>

	<h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
	<h5>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h5>
	<div ui-view="osmWidget"></div>

	<span class="anchor" id="contact"></span>
	<h1><span>Contact</span></h1>

	<h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
	<h5>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h5>
	<div class="box">
		<div id="lipsum">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis ultricies mollis. Donec faucibus urna interdum elementum ornare. Morbi non dolor efficitur eros ultricies condimentum. Integer vel lobortis tellus, ac tincidunt nisi. Donec id nisi enim. Nunc dictum, metus eu placerat commodo, felis sem tristique est, non pretium ante justo eget tellus. Morbi maximus in lorem eget scelerisque. Maecenas tincidunt, libero vel vestibulum euismod, quam dolor consequat sapien, at porta metus enim sit amet odio. Suspendisse et lobortis nulla. In porttitor consequat quam ac ultricies. Donec massa justo, posuere sit amet porttitor ac, semper sit amet mi. Vestibulum iaculis, lacus sit amet bibendum semper, neque sapien consectetur nulla, ut pulvinar erat nibh sed felis. Fusce ut ligula nec velit porta iaculis. Cras et tincidunt enim.
			</p>
			<p>
				Mauris vitae elit eu libero pulvinar scelerisque. Vivamus pharetra porttitor nisi, sit amet laoreet ligula porta ut. Aenean leo ante, consectetur fringilla pretium nec, vehicula dictum dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer tristique lacus vitae quam eleifend viverra. Nullam semper non arcu vel malesuada. In cursus tellus quis fermentum finibus. Mauris fringilla, dolor eget tristique posuere, neque lacus tristique massa, vitae rutrum nisl lorem quis est. Praesent aliquet velit eget mi pharetra pellentesque. Praesent eleifend dui nec mi pulvinar, vel lacinia dolor accumsan. Aliquam ullamcorper ipsum vel mauris feugiat, vitae dictum erat hendrerit. Cras eu sollicitudin enim. Fusce efficitur aliquam ornare. Pellentesque imperdiet imperdiet velit ut auctor. Nulla finibus non enim ut posuere.
			</p>
			<p>
				In facilisis dui et lacus ullamcorper, non consectetur massa sagittis. Fusce ullamcorper dolor eget mi finibus ullamcorper sed id lorem. Vivamus est massa, tincidunt quis augue quis, lacinia aliquam dui. Mauris ac scelerisque massa. Praesent id finibus sem. Sed fringilla purus sed imperdiet lobortis. Phasellus at velit quam. Cras nec dui id nibh maximus ullamcorper sed et nisl. Mauris tincidunt ullamcorper interdum.
			</p>
			<p>
				Integer vestibulum purus vel lacus mattis vestibulum. Duis tristique nulla et nisi aliquet, sit amet scelerisque arcu hendrerit. Nulla gravida eget est vel sollicitudin. Nunc blandit lacinia scelerisque. Sed vel malesuada dui. Ut sed interdum justo. Integer lobortis mi diam, sed luctus lectus egestas a. Donec urna neque, efficitur vel magna eget, fringilla congue arcu. Vestibulum quis scelerisque elit, pharetra pretium sem. Vestibulum facilisis ullamcorper enim volutpat sagittis. Sed condimentum rhoncus arcu non pretium. Praesent tristique placerat mauris vitae cursus. Praesent in mi eget nisi luctus volutpat in a diam. Nulla nec purus iaculis, iaculis sapien id, lobortis risus. Praesent ut velit elit.
			</p>
			<p>
				Phasellus convallis efficitur turpis, ac pellentesque turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam in nulla sem. Morbi id odio vel est sagittis commodo non eget urna. Nullam lacinia tincidunt cursus. Maecenas fringilla purus diam, et dapibus nunc viverra eget. Sed vel felis quis arcu ultrices venenatis. Cras nec pretium dolor. Etiam id tellus consequat, efficitur enim in, finibus ex. Fusce ut arcu ut est fermentum imperdiet in eu diam. Maecenas quis venenatis nibh. Suspendisse quis nunc ut mi luctus tempus. Aliquam tincidunt ornare nunc ac elementum.
			</p>
		</div>
	</div>

</div>